*
{
    margin:0;
    padding:0;
}

.news
{
    width: 100%;
    padding:60px 0;
    overflow: hidden;
    background-color: #F7F9FC;
}

.container
{
    width:90%;
    height:100%;
    margin:0px auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap:24px;
}

.heading
{
    font-size:14px;
    font-weight:700;
    text-transform: uppercase;
    color:#1CB5E0;
    margin-left:20px;
    letter-spacing: 4px;
}

.subheading
{
    font-size:30px;
    font-weight: 600;
    margin-left:20px;
    color:#111111;
}

.newsCardContainer
{
    width: 100%;
    padding:0px 20px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap:24px;
    box-sizing: border-box;
}

@media screen and (max-width:400px)
{
    .newsCardContainer
    {
        padding:0;
    }
}
