.main
{
    width:100%;
    height: 100%;
    display: flex;
}

.container
{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
}

.container>div
{
    /* height:100%; */

}
.c1
{
    background-color: aqua;
}
.c2
{
    background-color: blueviolet;
}
.c3
{
    background-color: tomato;
}
